<footer class="bg-body-tertiary text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    <div><i class="fa-brands fa-github"></i> </div>
     2025 github:
    <a class="text-body" href="https://github.com/Khaledmhmdd" target="_blank">K H A L E D   M O H A M E D</a>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
     2025 linkedin:
    <a class="text-body"  href="https://www.linkedin.com/in/khaled-mohamed-b47181307/" target="_blank">K H A L E D  M O H A M E D</a>
  </div>
  <!-- Copyright -->
</footer>