<div class="row row-cols-1 row-cols-md-4 g-4">
  @for (product of filteredProducts; track product.id) {
  <div class="col">
    <div class="card h-100" appHighlightCard="gray" externalColor="'pink'">
      <img [src]="product.imgUrl" class="card-img-top" [alt]="product.name" />

      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">Price: ${{ product.price }}</p>
        <p class="card-text">Category: {{ product.catId }}</p>
        <div>
          <div class=" ">
            <p class="card-text mb-0">Quantity: {{ product.quantity }} </p>
          </div>
          
            @if (product.quantity==0) {
              <p class="text-danger mb-0 ms-3">Out Of Stock</p>
            }
          
        </div>

        <button class="btn btn-primary mb-2" (click)="navigateToDetails(product.id)">
          Details
        </button>

        <div>
          <div>

            <input type="number" #countInp class="form-control mb-2" />
          </div>

          <div>
            <button class="btn btn-success w-100" [disabled]="product.quantity === 0"
              (click)="buy(product,countInp.value,product.price)">
              Buy
            </button>
          </div>
          <div class="mt-auto">
            <button class="btn btn-danger w-100" (click)="delete(product.id)">
              Delete
            </button>
          </div>


        </div>

      </div>
    </div>
  </div>
  }
  @empty {
  <h3 class="text-center">No products found</h3>
  }
</div>