<!-- About Section -->
<section id="about" class="py-5 bg-light">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-lg-6">
                <h2 class="fw-bolder mb-4"> Welcome to our Handmade & Flower Boutique 🌸</h2>
                <p class="lead mb-4"> Discover a curated collection of handcrafted gifts,
                    elegant flower arrangements, and unique pieces made with love.
                    We bring beauty, creativity, and
                    heartfelt
                    craftsmanship together in one place.</p>

                <a class="btn btn-success btn-lg px-4 me-sm-3" target="_blank"
                    href="https://api.whatsapp.com/send/?phone=201141595097&text=Hello%20I%20am%20interested%20in%20your%20services">
                    Contact US On Whats App
                </a>
                <!-- <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Our Services</a> -->
                <a class="btn btn-outline-primary btn-lg px-4" routerLink="/home"> Our Services</a>
            </div>
            <div class="img col-lg-6 pt-4 transform: scale(1.05);">
                <img src="https://images.unsplash.com/photo-1485827404703-89b55fcc595e?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw1fHx0ZWNofGVufDB8MHx8fDE3Mjk1MDg5OTV8MA&ixlib=rb-4.0.3&q=80&w=1080"
                    alt="About TechNova" class="img-fluid rounded">
            </div>
        </div>
    </div>
</section>